## Import libraries

In [23]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  
#pd.set_option('display.max_rows', None)

## Import dataset

In [24]:
data = pd.read_csv('../data/raw/DB_Kaggle_top500albums.csv', encoding='latin1')

data.head(3)

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"

## Clean data

In [25]:
#ensure there are not spaces 

data['Album'] = data['Album'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [26]:
data['Artist'] = data['Artist'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [27]:
#rename the columns 

data.columns

Index(['Number', 'Year', 'Album', 'Artist', 'Genre', 'Subgenre'], dtype='object')

In [28]:
columns = ['rstoprankingorder', 'rsyear', 'rsalbum', 'rsartist', 'rsgenre', 'rssubgenre']

In [29]:
data.columns = columns

In [30]:
data.head(3)

,rstoprankingorder,rsyear,rsalbum,rsartist,rsgenre,rssubgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"

In [31]:
#check datatype

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rstoprankingorder  500 non-null    int64
 1   rsyear             500 non-null    int64
 2   rsalbum            500 non-null    object
 3   rsartist           500 non-null    object
 4   rsgenre            500 non-null    object
 5   rssubgenre         471 non-null    object
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [35]:
data = data.iloc[:, [0, 2, 3,1]]

In [36]:
data.head()

,rstoprankingorder,rsartist,rsyear,rsalbum
0,1,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band
1,2,The Beach Boys,1966,Pet Sounds
2,3,The Beatles,1966,Revolver
3,4,Bob Dylan,1965,Highway 61 Revisited
4,5,The Beatles,1965,Rubber Soul

In [37]:
data.to_csv('../data/clean/DB_Kaggle_top500albums_clean.csv', index=False)