## Import libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  
#pd.set_option('display.max_rows', None)

## Import dataset

In [2]:
data = pd.read_csv('../data/raw/DB_Kaggle_top500albums.csv', encoding='latin1')

data.head(3)

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"

## Clean data

In [3]:
#ensure there are not spaces 

data['Album'] = data['Album'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [4]:
data['Artist'] = data['Artist'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [5]:
#rename the columns 

data.columns

Index(['Number', 'Year', 'Album', 'Artist', 'Genre', 'Subgenre'], dtype='object')

In [6]:
columns = ['toprankingorder', 'yearrs', 'albumnamers', 'artistnamers', 'genrers', 'subgenrers']

In [7]:
data.columns = columns

In [8]:
data.head(3)

,toprankingorder,yearrs,albumnamers,artistnamers,genrers,subgenrers
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"

In [9]:
#check datatype

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   toprankingorder  500 non-null    int64
 1   yearrs           500 non-null    int64
 2   albumnamers      500 non-null    object
 3   artistnamers     500 non-null    object
 4   genrers          500 non-null    object
 5   subgenrers       471 non-null    object
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [10]:
data = data.iloc[:, [0, 2, 3,1]]

In [11]:
data.head()

,toprankingorder,albumnamers,artistnamers,yearrs
0,1,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,1967
1,2,Pet Sounds,The Beach Boys,1966
2,3,Revolver,The Beatles,1966
3,4,Highway 61 Revisited,Bob Dylan,1965
4,5,Rubber Soul,The Beatles,1965

In [12]:
data.to_csv('../data/clean/DB_Kaggle_top500albums_clean.csv', index=False)