### Importing libraries

In [2]:
import pandas as pd
import numpy as np
import time 

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  
#pd.set_option('display.max_rows', None)

### What albums am I interested on?

#### Rolling Stone magazine Top 500

In [3]:
topalbums = pd.read_csv('../data/clean/DB_Kaggle_top500albums_clean.csv', encoding='latin1')

topalbums.head(3)

,rstoprankingorder,rsartist,rsyear,rsalbum
0,1,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band
1,2,The Beach Boys,1966,Pet Sounds
2,3,The Beatles,1966,Revolver

#### Rolling Stone article Horrible 50

In [4]:
horriblealbums = pd.read_csv('../data/clean/WS_50horriblealbums_clean.csv', encoding='latin1')

horriblealbums.head(3)

,rshorriblerankingorder,rsalbum,rsartist,rsrationale,rsyear
0,50,Its Hard,The Who,"In the early Eighties, Pete Townshend was jugg...",1982
1,49,The Bridge,Billy Joel,Billy Joel had nearly a solid decade of succes...,1986
2,48,Van Halen III,Van Halen,When original Van Halen singer David Lee Roth ...,1998

#### Full album list

In [6]:
#need to be conscious of the fact that some albums have the same name 

topalbums['rsalbum'].value_counts().head(3)

rsalbum
Greatest Hits                            3
Let It Be                                2
Sgt. Pepper's Lonely Hearts Club Band    1
Name: count, dtype: int64

In [8]:
#let us get unique values for album_artist 

topalbums['album_artist'] = topalbums['rsalbum'] + ' - ' + topalbums['rsartist']

In [9]:
topalbums.head(3)

,rstoprankingorder,rsartist,rsyear,rsalbum,album_artist
0,1,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band,Sgt. Pepper's Lonely Hearts Club Band - The Be...
1,2,The Beach Boys,1966,Pet Sounds,Pet Sounds - The Beach Boys
2,3,The Beatles,1966,Revolver,Revolver - The Beatles

In [10]:
horriblealbums['rsalbum'].value_counts().head(2)

rsalbum
Its Hard           1
Leather Jackets    1
Name: count, dtype: int64

In [11]:
horriblealbums['album_artist'] = horriblealbums['rsalbum'] + ' - ' + horriblealbums['rsartist']

In [12]:
horriblealbums.head(2)

,rshorriblerankingorder,rsalbum,rsartist,rsrationale,rsyear,album_artist
0,50,Its Hard,The Who,"In the early Eighties, Pete Townshend was jugg...",1982,Its Hard - The Who
1,49,The Bridge,Billy Joel,Billy Joel had nearly a solid decade of succes...,1986,The Bridge - Billy Joel

In [13]:
all_albums = pd.concat([topalbums, horriblealbums], ignore_index=True)
all_albums.shape

(550, 7)

In [14]:
all_albums.head(3)

,rstoprankingorder,rsartist,rsyear,rsalbum,album_artist,rshorriblerankingorder,rsrationale
0,1.0,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band,Sgt. Pepper's Lonely Hearts Club Band - The Be...,NaN,NaN
1,2.0,The Beach Boys,1966,Pet Sounds,Pet Sounds - The Beach Boys,NaN,NaN
2,3.0,The Beatles,1966,Revolver,Revolver - The Beatles,NaN,NaN

In [15]:
all_albums.to_csv('../data/clean/all_550_albums_clean.csv', index=False)