## Import libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

## Import files

In [2]:
sqltable_albums = pd.read_csv('../data/clean/api_albums_clean.csv', encoding='latin1')
sqltable_albums.head(2)

,albumnamers,albumidspotify,albumnamespotify,artistnamespotify,artistidspotify,releasedate,totaltracks
0,Sgt. Pepper's Lonely Hearts Club Band,6QaVfG1pHYl1z15ZxkvVDW,Sgt. Pepper's Lonely Hearts Club Band (Remaste...,The Beatles,3WrFJ7ztbogyGnTHbHJFl2,1967-06-01,13.0
1,Pet Sounds,6GphKx2QAPRoVGWE9D7ou8,Pet Sounds (Original Mono & Stereo Mix),The Beach Boys,3oDbviiivRWhXwIE8hxkVV,1966-06-16,27.0

In [3]:
sqltable_albums.shape

(550, 7)

## Clean NAs and duplicates

In [4]:
#clean NAs (some albums available in the RS DB were not found in Spotify)
sqltable_albums.dropna(inplace=True)

In [5]:
sqltable_albums.shape

(463, 7)

In [6]:
sqltable_albums.duplicated().any()

False

## Column names

In [7]:
sqltable_albums.columns

Index(['albumnamers', 'albumidspotify', 'albumnamespotify',
       'artistnamespotify', 'artistidspotify', 'releasedate', 'totaltracks'],
      dtype='object')

In [8]:
finalcolumns = ['rs_albumname', 'sp_albumid', 'sp_albumname', 'sp_artistname', 'artists_sp_artistid','sp_releasedate','sp_totaltracks']

In [9]:
sqltable_albums.columns = finalcolumns

In [10]:
sqltable_albums.head(1)

,rs_albumname,sp_albumid,sp_albumname,sp_artistname,artists_sp_artistid,sp_releasedate,sp_totaltracks
0,Sgt. Pepper's Lonely Hearts Club Band,6QaVfG1pHYl1z15ZxkvVDW,Sgt. Pepper's Lonely Hearts Club Band (Remaste...,The Beatles,3WrFJ7ztbogyGnTHbHJFl2,1967-06-01,13.0

## Reoder columns

In [11]:
sqltable_albums = sqltable_albums.iloc[:, [1, 2, 5, 6, 4]]
sqltable_albums.head(1)

,sp_albumid,sp_albumname,sp_releasedate,sp_totaltracks,artists_sp_artistid
0,6QaVfG1pHYl1z15ZxkvVDW,Sgt. Pepper's Lonely Hearts Club Band (Remaste...,1967-06-01,13.0,3WrFJ7ztbogyGnTHbHJFl2

## Data type

In [12]:
sqltable_albums.info()

<class 'pandas.core.frame.DataFrame'>
Index: 463 entries, 0 to 549
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sp_albumid           463 non-null    object
 1   sp_albumname         463 non-null    object
 2   sp_releasedate       463 non-null    object
 3   sp_totaltracks       463 non-null    float64
 4   artists_sp_artistid  463 non-null    object
dtypes: float64(1), object(4)
memory usage: 21.7+ KB

In [13]:
#sqltable_albums['sp_releasedate'] = pd.to_datetime(sqltable_albums['sp_releasedate'], format='%Y')

In [14]:
sqltable_albums['sp_releasedate'].dtype

dtype('O')

In [15]:
sqltable_albums['sp_totaltracks'] = sqltable_albums['sp_totaltracks'].astype(int)

In [16]:
sqltable_albums['sp_totaltracks'].dtype

dtype('int64')

## Export

In [17]:
sqltable_albums.to_csv('../data/tableau/tableautable_albums.csv', index=False, encoding='latin1')